.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Yeni_Mosque_Istanbul_Turkey_1600x1200.jpg
Ramadan-Mubarak-Kareem-stylish-Wallpaper.jpg
Ramadan-Mubarak-Kareem-stylish-Wallpaper.png
header_bg.png
splash.png
