.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Yeni_Mosque_Istanbul_Turkey_1600x1200.jpg
Ramadan-Mubarak-Kareem-stylish-Wallpaper.jpg
Ramadan-Mubarak-Kareem-stylish-Wallpaper.png
header_bg.png
splash.png
beautiful-mosque-in-the-world-hd-desktop-wallpaper.jpg
bwn-brunei-bandar-seri-begawan-omar-ali-saifuddien-mosque-with-stone-boat-and-lagoon-by-day-b.jpg
harif-Mosque-in-Kazan-Russia-2.jpg
turkey-istanbul-interior-rustem-pasa-mosque.jpg
Kul-Sharif-Mosque-in-Kazan-Russia-2.jpg
SplashScreen.png


